*.log
*.log.*
target/
.idea/
*.iml
.DS_Store
Thumbs.db
out/
bin/
*.swp
*.tmp
*.bak
*.old
*.orig
*.rej
lib/
.env
.classpath
.project
.settings/
*.jar
*.war
.mvn/
mvnw
mvnw.cmd
*.dll
*.exe
*~
.swp
.swo
.fuse_hidden*
.idea/
*.sublime-workspace
.buildpath
.factorypath
.vscode/
coverage/
dependency-reduced-pom.xml
buildNumber.properties
*.local
.junit/
*.pyc
*.pyo
